{% extends "master.html" %}

{% block title %}
    {{ disc.name }} - Project Discgolf
{% endblock %}


{% block content %}
    <h5>
    <a href="{% url 'disc_list' %}">Back to the List of Discs</a>
    </h5>

    <div>
        <h1>{{ disc.name }}</h1>
        <p><strong>Name:</strong> {{ disc.name }}</p>
        <p><strong>Type:</strong> {{ disc.type }}</p>
        <p><strong>Brand:</strong> {{ disc.brand }}</p>
        <h3>Flight Numbers:</h3>
        <p><strong>Speed:</strong> {{ disc.speed }}</p>
        <p><strong>Glide:</strong> {{ disc.glide }}</p>
        <p><strong>Turn:</strong> {{ disc.turn }}</p>
        <p><strong>Fade:</strong> {{ disc.fade }}</p>

        {% if disc.image %}
            <img src="{{ disc.image.url }}" alt="{{ disc.name }}" class="img-fluid">
        {% else %}
            <p>No image available.</p>
        {% endif %}
    </div>
    <p></p>
    <div>
        {% if user.is_authenticated %}

            <a href="{% url 'disc_update' object.pk %}">Edit disc</a>

        {% endif %}

        {% if user.is_authenticated and user.is_superuser %}

            <a href="{% url 'disc_delete' object.pk %}">Delete disc</a>

        {% endif %}

    </div>
{% endblock %}