{% extends "master.html" %}

{% block title %}
  List of Discs - Project Discgolf
{% endblock %}

{% block content %}
 <h1>Disc List</h1>

    <h5><a href="{% url 'search_disc' %}">Search the database</a></h5>

    <h5><a href="{% url 'add_disc' %}">Add your disc</a></h5>
    <ul>
        {% for disc in discs %}
            <li>
                <a href="{% url 'disc_detail' disc.pk %}">{{ disc.name }}</a>, {{disc.type}} from {{ disc.brand }}
            </li>
        {% endfor %}
    </ul>

    <!-- Pagination controls -->
    {% if is_paginated %}
  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; First</a>
        <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      <span class="current">
        Page {{ page_obj.number }} from {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
      {% endif %}
    </span>
  </div>
{% endif %}
{% endblock %}