{% extends "master.html" %}

{% block title %}
  Discgolf.info - Home
{% endblock %}


{% block content %}
<h2>Discgolf.info Home Page</h2>
<p>
  Disc golf, also known as frisbee golf, is a flying disc sport in which players throw a disc at a target.
  It is played using rules similar to golf.
</p>
<p>
  The sport is usually played on a course with 9 or 18 holes (baskets). Players complete a hole by throwing a disc from
  a tee pad or tee area toward a basket, throwing again from where the previous throw landed, until the basket is reached.
  The baskets are formed by wire with hanging chains above the basket, designed to catch the incoming discs,
  which then fall into the basket. Usually, the number of throws a player uses to reach each basket is tallied
  (often in relation to par), and players seek to complete each hole in the lowest number of total throws.
  Par is the number of strokes an expert player is expected to make for a given hole or a group of holes (usually 9 or 18).
</p>
{% endblock %}